/* ids are defined as
#id {}
  classes are
.class{}
*/

/* variable declarations */
:root {
  --hlWidth: 15vw;
  --htHeight: 15vh;
}

html{
  /* overflow: hidden; */
  background-color: WhiteSmoke;
}


#projects { /* list items */
  list-style-type: none;
}

/* divs */

#screen, #home_left, #home_top, #home_middle {
  /*border: 1vh solid red;*/
}

#screen { /* parent div */
  position: absolute;
  top: 0;
  left: 0;
  
  height: 100vh;
  width: 100vw;
}

#home_left { /* left column */
  position: absolute;
  top: 0;
  left: 0;
  
  height: 100vh;
  width: var(--hlWidth);
}

#home_top { /* top row */
  position: absolute;
  top: 0;
  left: var(--hlWidth);
  
  height: var(--htHeight);
  width: calc(100vw - var(--hlWidth));
}

#home_middle { /* rest: lower right box */
  position: absolute;
  top: var(--htHeight);
  left: var(--hlWidth);
  
  height: calc(100vh - var(--htHeight));
  width: calc(100vw - var(--hlWidth));
}

/* end divs */
.projectLink{}

