main, section {
    display: block;
    position: absolute;
}
div .part {
    position: absolute;
}
canvas {
    /*position: absolute;*/
}

.CodeMirror {
    height: 100%;
    width: 720px;
    font-size: 14px;
    border: 1px dashed #282828;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}
